.headerWrapper{
    background-color: #0f4c91;
    height: 70px;
    width: auto;
    color: whitesmoke;
    font-family: "Times New Roman", Times, serif;
   
    .headerTitle{
        display: inline-flex;
        font-family: "Times New Roman", Times, serif;
        font-size: 20px;
        height: 70px;
        width: 100%;
        .headerMainTitle{
            font-size: 35px; 
            margin-left: -25px;
            margin-top: 15px;
            font-style: italic;
        }
        .headerSubMenu{
            font-size: 18px;
            display: inline-flex;
            margin-left: 75px;
            margin-top: 25px;
            .headerSubMenuRow{
                   font-family: "calibri";
                   margin: 0px 18px;
            }  
        }
        .headerUserDetails{
            font-family: "calibri";
            font-size: 18px;
            margin-top: 25px;
            margin-left: 480px; 
            .headerUserIcon{
                background: ~"url('../../src/Images/icons2.png')" -322px -106px  no-repeat; 
                height: 25px;
                width: 25px;
                filter: invert(100%);
                display: inline-block;
            }  
            .headerDropdownIcon{
                background: ~"url('../../src/Images/icons.png')" -225px -80px no-repeat; 
                height: 25px;
                width: 25px;
                filter: invert(100%);
                display: inline-block;
            }           
        } 
    }
    .headerIcon{
        margin-left: 40px;
        filter: invert(100%);
        background: ~"url('../../src/Images/Bus_Logo_2.png')" no-repeat;
        height: 70px;
        width: 100px
    }
    .hederLoginLogo{  
        margin-top: 20px;
        margin-left: 40px;
     .headerUserLogo{
        background: ~"url('../../src/Images/icons3.png')" 10px 0px  no-repeat;
        height: 45px;
        width: 50px;
        filter: invert(100%);
        display: inline-flex;
         } 
}   
}
