.headerWrapper{
    background-color: #0f4c91;
    height: 70px;
    width: auto;
    color: whitesmoke;
    font-family: "Times New Roman", Times, serif;
    position: relative;
    .headerTitle{
        display: inline-flex;
        font-family: "Times New Roman", Times, serif;
        font-size: 20px;
        height: 50px;
        width: 100%;
        .headerMainTitle{
            font-size: 35px; 
            width: 150px;
            bottom: 5px;
            font-style: italic;
            cursor: pointer;
        }
        .headerSubMenu{
            font-size: 18px;
            display: inline-flex;
            margin-top: 7px;
            padding-left: 25px;
            height: 30px;
            .headerSubMenuRow{
                   font-family: "calibri";
                   margin: 4px 0px;
                   font-size: 16px;
                   width: auto;
                   height: 20px;
                   cursor: pointer;
            }  
        }
        .headerUserDetails{
            font-family: "calibri";
            font-size: 18px;
            position: absolute; 
            right: 10%;
            top: 24px;
            cursor: pointer;
            .headerUserIcon{
                background: ~"url('../../src/Images/icons2.png')" -322px -106px  no-repeat; 
                height: 25px;
                width: 25px;
                filter: invert(100%);
                display: inline-block;
                top: 2px;
                right: auto;
                position: relative;
            }  
            .headerDropdownIcon{
                background: ~"url('../../src/Images/icons.png')" -225px -80px no-repeat; 
                height: 25px;
                width: 25px;
                filter: invert(100%);
                display: inline-block;
            }           
        } 
    }
    .headerIcon{
        filter: invert(100%);
        background: ~"url('../../src/Images/Bus_Logo_2.png')" no-repeat;
        height: 70px;
        width: 100px;
        left: 30px;
        bottom: 15px;
    }
    .hederLoginLogo{  
        position: absolute;
        right: 4%;
        top: 18px;
     .headerUserLogo{
        background: ~"url('../../src/Images/icons3.png')" 10px 0px  no-repeat;
        height: 45px;
        width: 50px;
        filter: invert(100%);
        display: inline-flex;
        cursor: pointer;
         } 
  }
}
.headerTooltip {
    margin-top: 0px !important;
    .tooltip-arrow {
        border-bottom-color: #ffffff !important;
    }
    .tooltip-inner {
        background-color: #ffffff !important;
        color: #000000 !important;
        padding: 0px 9px !important;
    }
}
.locationOverlay {
    position: absolute;
    right: 13%;
    top: 30px;
    width: 115px;
    border: 1px solid #c3c3cc;
    z-index: 10;
    ul{
        background-color: white;
        color: #727277;
        cursor: pointer;
        list-style-type: none;
        font-family: "calibri";
        font-size: 17px;
        padding: 4px 20px;
        margin-bottom: 0px;
    }
}
.locationOverlayUO {
    position: absolute;
    top: 42px;
    border: 1px solid #c3c3cc;
    z-index: 10;
    ul{
        background-color: white;
        color: #727277;
        cursor: pointer;
        list-style-type: none;
        font-family: "calibri";
        font-size: 17px;
        padding: 4px 20px;
        margin-bottom: 0px;
    }
}
.upArrow {
    width: 0px;
    position: absolute;
    height: 0px;
    top: -8%;
    right: 52%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}
